SimuAlig/

MuvsEloss.png
SimuAlig
datos_simulacion_alig.txt
fanovsEloss.png
barredor.py
hist_ev_dist_NOatr_fononOFF.png
hist_ev_dist_NOatr_fononON.png
hist_ev_dist_SIatr_fononOFF.png
hist_ev_dist_SIatr_fononOFF_loop3.png
hist_ev_dist_SIatr_fononON.png
hist_ev_dist_SIatr_fononON_loop3.png
untitled0.py